<head>
    <link rel="stylesheet" href="style.css">
</head>
<a href="/" class="logo"></a>

<form action="/login" method="post" id="loginForm" class="sForm">
    <h1>Ha, te revoilà !</h1>
    <label>Nous sommes si heureux de te revoir !</label>
    <div class="field">
        <label>E-mail ou numéro de téléphone</label>
        <input type="text" name="email" autocomplete="off">
    </div>
    <div class="field">
        <label>Mot de passe</label>
        <input type="password" name="password">
    </div>
    <a href="" class="f">Tu as oublié ton mot de passe ?</a>
    <button type="submit">Se connecter</button>
    <p>Besoin d'un compte ? <a href="/register">S'inscrire</a></p>
</form>