<div id="createServer">
    <div class="CForm">
<i class="fal fa-times close"></i>
    <div class="top">
        <h1 class="title">Créer un serveur</h1>
        <p>Ton serveur est l'endroit où tu retrouves tes amis.
            Crée le tien et lance une discussion.</p>
    </div>
    <div class="tab">
        <img src="https://discord.com/assets/79516499036b21acd5f56ccba0635c38.svg">
        <h1>Créer le mien</h1>
        <i class="far fa-chevron-right"></i>
    </div>
    </div>
    
</div>