<div id="createServer">
    <script defer src="js/createServer.js"></script>
    
    <div class="CForm">
        <i class="fal fa-times close" id="close"></i>
        <div class="h">
            
    <div class="top">
        <h1 class="title">Créer un serveur</h1>
        <p>Ton serveur est l'endroit où tu retrouves tes amis.
            Crée le tien et lance une discussion.</p>
    </div>
    <div class="tab" id="tab1">
        <img src="https://discord.com/assets/79516499036b21acd5f56ccba0635c38.svg">
        <h1>Créer le mien</h1>
        <i class="far fa-chevron-right"></i>
    </div>
    <div class="a"></div>
    <div class="bottom">
        <h1>Tu as déjà une invitation ?</h1> 
        <button>Rejoindre un serveur</button>
    </div>
        </div>

    <div class="side1">
        <div class="top">
            <h1 class="title" style="font-size:20px">Dis-nous-en plus sur ton serveur</h1>
            <p>Pour t'aider à configurer ton nouveau serveur, dis nous s'il est destiné à quelques amis uniquement ou à une communauté plus importante.</p>
        </div>
        <div class="tab" id="tab2">
            <img src="https://discord.com/assets/5e8985b40ca5104dadceeccaa81c23ca.svg">
            <h1>Pour mes amis et moi</h1>
            <i class="far fa-chevron-right"></i>
        </div>
        
        <div class="tab" id="tab3">
            <img src="https://discord.com/assets/a01602a0c0bd856ebed967db1785d5a7.svg">
            <h1>Pour un club ou une communauté</h1>
            <i class="far fa-chevron-right"></i>
        </div>

        <p class="foot">Tu ne sais pas ? Tu peux <a href="">ignorer cette question</a> pour l'instant.</p>
        <div class="bottom">
            <a class="return" id="return1">Retour</a>
        </div>
    </div>
    </div>

</div>
