<div id="settings" class="settingsCtn">
    <script src="js/additionnals/servSettings.js"></script>

    <div class="left">
        <div class="ctn">
            
           
                <div class="tabs">
                    <h1 id="servName" class="cTitle"></h1>
                    <div class="tab selected" target="general">
                        Vue d'ensemble
                    </div>
                    <div class="tab" target="roles">
                        Rôles
                    </div>
                    <div class="tab" target="">
                        Émoji
                    </div>
                    <div class="tab" target="">
                        Modération
                    </div>
                    <div class="tab" target="">
                        Logs du serveur
                    </div>
                    <div class="tab" target="">
                        Intégrations
                    </div>
                    <div class="tab" target="">
                        Widget
                    </div>
                    <div class="tab" target="">
                        Modèle de serveur
                    </div>
                </div>
                <div class="separator"></div>
                <div class="tabs">
                    <div class="cTitle">Communauté</div>
                    <div class="tab">
                        Activer la communauté
                    </div>
                    <div class="separator"></div>
                    <div class="tab bst">
                        État des boosts de serveur
                    </div>
                </div>
                <div class="separator"></div>
                <div class="tabs">
                    <div class="cTitle">Gestion des utilisateurs</div>
                    <div class="tab">
                        Membres
                    </div>
                    <div class="tab">
                        Invitations
                    </div>
                    <div class="tab">
                        Banissements
                    </div>
                </div>
                <div class="separator"></div>
                <div class="tab" style="color:#F04747;">
                    Supprimer le serveur
                </div>
        </div>
    </div>
    <div class="right scrollbarA">
        <div class="close">
            <div id="closeButton">

                <svg aria-hidden="true" width="18" height="18" viewBox="0 0 24 24"><path fill="#dcddde" d="M18.4 4L12 10.4L5.6 4L4 5.6L10.4 12L4 18.4L5.6 20L12 13.6L18.4 20L20 18.4L13.6 12L20 5.6L18.4 4Z"></path></svg>
            </div>
           
                
            <span>ESC</span>
        </div>

        <!--General-->

        <div class="view view1">
            <h1 class="title">Vue d'ensemble du serveur</h1>
            <div class="flex-tab">
                <div class="tab flex a">
                    <input type="file" style="display: none;" id="imgSrv">
                    <div class="sc">
                        AC
                    </div>
                    <div class="block">
                        <p>Nous te recommandons une taille d'image d'au moins 512 x 512 pour le serveur.</p>
                        <button>Uploader une image</button>
                    </div>
                </div>
                <div class="separator" style="width: 20%;"></div>
                <div class="tab b">
                    <div class="field">
                        <label>Nom du serveur</label>
                        <input type="text" id="changeServNI">
                    </div>
                    <div class="field block assd">
                        <label>Région du serveur</label>
                        <p>Les régions sont maintenant disponibles et déterminées automatiquement pour chaque salon vocal. Elles affectent la qualité des voix et de la vidéo. Si tu as besoin d'aide, n'hésite pas à consulter notre <a class="anchor-3Z-8Bb anchorUnderlineOnHover-2ESHQB" href="https://support.discord.com/hc/fr/articles/360060570993" rel="noreferrer noopener" target="_blank">centre d'aide</a>.</p>
                    </div>
                </div>
            </div>
            <hr style="background-color: #484b52;border:none;width: 100%;height:1px;
            margin:80px 0;">
        </div>

        <!--Roles view-->
        <div class="view view-2">
            <h1 class="cTitle">Rôles</h1>
        </div>


    </div>
</div>